.topModule{
	font-family: Poppins !important;
	font-weight: 400 !important;
	font-size: 1rem;
	color: #00000050;
	margin-bottom: 15px;
}

.faturaBublue{
	margin-right: 10px !important;
}

.faturaLabel{
}