#projetos{
	width: 100% !important;
	height: 300px !important;
	font-family: Poppins !important;
	font-weight: 300 !important;
}

#clientes{
	width: 100% !important;
	height: 300px !important;
	font-family: Poppins !important;
	font-weight: 300 !important;
}